<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.mapper.UserMapper">
	<!-- 根据用户名查找用户 -->
	<select id="selectUserByUsername" parameterType="String" resultType="com.fs.pojo.User">
		select * from user where usename=#{username}
	</select>
	<!-- 注册用户 -->
	<insert id="insertUser" parameterType="com.fs.pojo.User">
	insert into user(username,password) values(#{username},#{password})
	</insert>












</mapper>